image: node:14-slim

definitions:
  caches:
    npm: $HOME/.npm

stepdefinitions:
  - tests: &test-and-build
      name: Run tests and build package
      script:
        - npm ci --prefer-offline --no-audit
        - npm run test
        - npm run prettier
        - npm run lint
        - npm run build
  - publish-npm: &publish-npm
      name: Build and publish npm package
      caches:
        - npm
      script:
        - npm ci --prefer-offline --no-audit
        - npm run build
        - pipe: atlassian/npm-publish:0.2.0
          variables:
            EXTRA_ARGS: "--access public"
            NPM_TOKEN: $NPM_TOKEN

pipelines:
  pull-requests:
    "**":
      - step: *test-and-build
  tags:
    v*:
      - step: *test-and-build
      - step: *publish-npm
